<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.walkandeco">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalkAndEco"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText"
        tools:targetApi="m">
        <activity android:name=".youtube"></activity>
        <activity android:name=".UtubePlay" />
        <activity android:name=".UtubeAdapter" />
        <activity android:name=".c_Record" />
        <activity
            android:name=".Itemview"
            tools:ignore="Instantiatable" />
        <activity android:name=".a_Dialog" />
        <activity android:name=".a_memo" />
        <activity android:name=".b_Login" />
        <activity android:name=".b_Sign" />
        <activity android:name=".c_walk" />
        <activity android:name=".weather" />
        <activity android:name=".news" />
        <activity android:name=".paper" />
        <activity android:name=".streepom" />
        <activity android:name=".glass" />
        <activity android:name=".f_binil" />
        <activity android:name=".f_can" /> <!-- <activity android:name=".trashmenu"></activity> -->
        <activity android:name=".plastic" />
        <activity android:name=".menu2" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".trashmenu"
            android:label="trashmenu" />

        <service android:name=".BroadcastService" />
    </application>

</manifest>